@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity;

    <div class="jumbotron">
        <h1>Vollab</h1>
        <p class="lead">Vollab is a repository web application for your online video projects. Collaborate with others and produce something amazing!</p>
        @if (User.Identity.GetUserId() == null)
        {
            <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Register</a> Or <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Login</a></p>
        }

        @if (User.Identity.GetUserId() != null)
        {
            <p><a href="@Url.Action("Index", "Projects")" class="btn btn-primary btn-lg">My Projects</a></p>
        }
    </div>

<div class="row">

    <div class="col-md-12">
        <h2>View all Projects</h2>
        <p>View all projects made on this website here. Get an understanding on what is happening.</p>
        <p><a class="btn btn-default" href="@Url.Action("ViewProjects", "Projects")">Learn more &raquo;</a></p>
    </div>
    
</div>