@model Project.Models.Projects
@using Microsoft.AspNet.Identity

<div class="jumbotron bg-primary text-white">
    <div class="container">
        <h1 class="display-4">My Files</h1>
        <p class="lead">Review files I have uploaded to this repository...</p>
    </div>
</div>

<h2>My Files</h2>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("WorkStation", "Projects", new { id = Model.PublicID })">Files <span class="fas fa-file"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("MyFiles", "Projects", new { id = Model.PublicID })">My Files <span class="fas fa-file"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProjectUsers", "Projects", new { id = Model.PublicID })">Users <span class="fas fa-user"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Activity</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <!--Retrieve Files Partial view to display.-->
        @Html.Partial("../Files/_MyFiles", Model.Files.Where(f => f.PublicID == Model.PublicID && f.ApplicationUserID == User.Identity.GetUserId()))
    </div>
</div>

