@model Project.Models.Projects

@{
    ViewBag.Title = "WorkStation";
}

<div class="jumbotron bg-primary text-white">
    <div class="container">
        <h1 class="display-4">@Model.ProjectName: Workstation</h1>
        <p class="lead">Review, upload & download your project's files, & monitor user activity.</p>
    </div>
</div>

<h2>Workstation</h2>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Files <span class="fas fa-file"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Users <span class="fas fa-user"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Activity</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @Html.Partial("../Files/_ProjectFiles", Model.Files)
    </div>
</div>

