@model IEnumerable<Project.Models.ProjectUserRequests>


<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @using (Html.BeginForm("ApproveUser", "ProjectUserRequests", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="@item.ProjectUserRequestID" name="requestID" />
                        <input type="submit" class="btn btn-success" value="Approve" />
                    }                    
                    <a class="btn btn-danger" href="@Url.Action("Delete", "ProjectUserRequests", new { id = item.ProjectUserRequestID })"><span class="fas fa-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>